#inicio{
    height: 85vh;
    background-color: var(--cor2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo{
    font-family: 'Italiana', sans-serif;
    font-size: 12vw;
    width: min-content;
    letter-spacing: 5px;
    color: var(--cor3);
}

#inicio img{
    width: 35vw;
    align-self: flex-end;
}

.subtitulo{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    padding: 4px 0;
    letter-spacing: 5px;
    color: var(--cor4);
    border-top: 2px var(--cor4) solid;
}

#divider{
    background-color: var(--cor3);
    color: var(--cor2);
    display: flex;
    justify-content: center;
    letter-spacing: 5px;
    padding: 5px;
    font-family: 'Italiana', sans-serif;
    font-size: 25px;
}

#sobre-mim{
    background-color: var(--cor2);
}

#servicos{
    background-color: var(--cor3);
    min-height: 85vh;
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#servicos h2{
    font-family: 'Italiana', sans-serif;
    font-size: 60px;
    color: var(--cor2);
}

.lista-servicos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 30px 10px;
}