#inicio{
    height: 85vh;
    background-color: var(--cor2);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 8vw;
}

.titulo{
    font-family: 'Italiana', sans-serif;
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--cor3);
    position: relative;
    z-index: 1;
}

#inicio img{
    height: 90%;
    align-self: flex-end;
}

.subtitulo{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    font-style: italic;
    padding: 4px 0;
    letter-spacing: 5px;
    color: var(--cor4);
    position: relative;
    z-index: 1;
}

.subtitulo::after{
    content: "";
    width: 50px;
    height: 4px;
    background-color: var(--cor4);
    position: absolute;
    top: -5px;
    left: 0;
}

#sobre-mim{
    background-color: var(--cor2);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% 10vw;
    gap: 20px;
}

#sobre-mim h2{
    color: var(--cor3);
    margin-bottom: 50px;
}

#sobre-mim p{
    font-size: 25px;
    color: var(--cor4);
    max-width: 900px;
}

#sobre-mim img{
    max-height: 80vh;
}

#servicos{
    background-color: var(--cor3);
    min-height: 85vh;
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-blend-mode: soft-light;
}

#servicos h2, #atendimento h2{
    text-align: center;
    font-family: 'Italiana', sans-serif;
    font-size: 60px;
    color: var(--cor2);
}

.lista-servicos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 30px 10px;
}

#atendimento{
    min-height: 50vh;
    background-color: var(--cor3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 5% 0;
}

#atendimento p{
    font-size: 25px;
    color: var(--cor1);
    font-style: italic;
    text-align: center;
    line-height: 40px;
}

#atendimento span{
    background-color: var(--cor2);
    color: var(--cor3);
    font-weight: 900;
    padding: 2px 6px;
}

@media (max-width: 768px)  {
    #inicio img {
        position: absolute;
        height: 80%;
        width: auto;
        left: 50%;
        z-index: 0;
        opacity: 50%;
    }

    .titulo{
        font-size: 50px;
    }

    #sobre-mim{
        flex-direction: column;
    }

    #sobre-mim img{
        width: 90%;
    }
}