body {
  font-family: -apple-system, 'Roboto', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Roboto:ital,wght@0,100;0,400;0,900;1,100;1,400;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: ease .2s;
  scroll-behavior: smooth;
}

:root{
  --cor1: #C09F80;
  --cor2: #D7CEC7;
  --cor3: #76323F;
  --cor4: #363636;
  --cor5: #642c36;
}

main{
  overflow: hidden;
}

p,a{
  font-family: 'Roboto', sans-serif;
}

h1,h2{
  font-family: 'Italiana', serif;
}

h2{
  font-size: 80px;
}